.top_nav{
    background-color: #f75;
    height: 60px;
    padding:10px 0px 0px 0px;
    color: white;
    font-size: 22px;
}
.top_nav_data{
    font-weight: bold;
    color: white;
    font-size: 26px;
}
.wrapper{
    display: flex;
    gap:30px;
    background-color: white;
    position: relative;
    border-bottom:  solid gray;
}
.wrapper>div{
    margin-left: 3%;
}
header{
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin-left: 15%;
    color: #66765f;
}

.nav-links{
    display: flex;
    gap: 10%;
    font-size: 20px;
    margin-top: 45px;
    width: 55%;
    font-family: Poppins, sans-serif;
   
}
.nav-links>Link{
    color: grey;

}
.LINK{
    color: grey;
    text-decoration: none;
}
.LINK:hover{
    text-decoration: underline;
    font-weight: bold;
}
.Link:hover{
    text-decoration: underline;
    color: #66765f;
}
.nav-links div:hover .mega-box {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.mega-box{
    position: absolute;
    top: 40;
    background-color:white;
    width: 100%;
    left: 0; 
    margin-top: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    display: flex;
}
.mega-box .content{
    background-color: white;
    padding: 30px 80px;
    display: flex;
    gap: 3%;
}
.content .row{
    width: calc(25% - 30px);
    line-height: 45px;
}
.data{
    width: 95%;
}
.content .row{
    color: aliceblue ;
    font-size: 30px;
}

.mega-links div{
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    margin-left: 15%;
    
    /* justify-content: left; */
}
.Link{ 
    text-decoration: none;
    text-align: left;
    justify-content: left;
    color: grey;
}
hr{
    width: 65%;
    margin-left: 60px;
}

.img{
    height: 330px;
    width: 330px;
    margin-left: -430px;
    margin-top: 40px;
}
.img {
    /* width: 86%; */
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    transition: all 3s ease;
    cursor: pointer;
  }
  .img:hover {
    transform: scale(1.1);
    /* -webkit-transition: all 0.3s ease-out; */
  }
.btn{
    margin-left: -430px;
    margin-top: 5px;
    background-color: #f75;
    color: white;
    font-weight: bold;
    border: none;
    width: auto;
    padding: 10px 10px 10px 10px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    height: 40px;
}
.p{
    margin-left: -430px;
    font-size: 18px;
    color: gray;

}

.icons{
    display: flex;
    gap: 20%;
    justify-content: right;
}
.icons img{
    width: 30px;
    height: 30px;
    margin-top: 65%;
    padding-right: 30px;
}

.drop-menu{
    display: grid;
    margin-top: 80px;
}
.mini_drop-box{
    position:absolute;
    visibility: hidden;
    opacity: 0;
    top: 20;
    transition: all 0.3s ease;
    width: auto;
    margin-top: 2px;
}
.hover_drop-down{
    position: relative;
    cursor: pointer;
}
.hover_drop-down:hover div{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
/*................................. search icon css ...............*/
.mini_drop-box{
    display: block;
}.grid{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    background-color: white;
    width: 100%;
    /* padding: 100%; */
    padding-left: 50%;
    padding-right: 50%;
    margin-left: -80%;
    margin-top: 46%;
    padding-top: 20%;
    padding-bottom: 20%;
    /* padding: 50% 20% ; */
}
.link-l:hover{
    text-decoration: underline;
    color: grey;
}
.link-l{
    color: #66765f;
    text-decoration: none;
    font-size: 20px;
}


/* ......................srarch bar css............................ */
.search-div{
    margin: auto;
    width: 100%;
    font-family: Poppins, sans-serif;
    /* margin-top: 1%; */
    cursor: pointer;
    position: fixed;
    background-color: white;
    z-index: 1;
    top: 0;
    padding-bottom: 50px;
    transform: translateY(0px);
    transition: 0.5s;
}
.search-box{
    margin: auto;
    width: 100%;
    font-family: Poppins, sans-serif;
    /* margin-top: 1%; */
    cursor: pointer;
    position: fixed;
    background-color: white;
    z-index: 1;
    top: 0;
    padding-bottom: 50px;
    transform: translateY(-200px);
    transition: 0.5s;
}
.whatAreYouLookingFor{
    display: flex;
    gap: 70%;
    margin-left: 9.5%;
    width: auto;
    width: 80%;
    
}
.whatAreYouLookingFor p{
    font-size: 23px;
    color: #777777;
    width: 500px;
 
}
.searchbtn{
    height: 30px;
    width: 30px;
    padding-top: 10px;
    /* padding-right: -40px; */
}
.searchbtn1{
    height: 20px;
    width: 20px;
    padding-right:50px;
    padding-top: 28px;
}
.search_button{
    display: flex;
    gap: 79%;
    margin-left: 12.5%;
    margin-right: 12.8%;
    

}
.search_button input{
    width:50%;
    height: 50px;
    border: none;
    border-style: none;
    font-size: 50px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:black;
    font-size: 30px;
    border: none;
}
.no-outline:focus {
    outline: none;
  }
  .navbar-nav{
      cursor: pointer;
  }





