.main-slider-div{
    display: flex;
    margin-left: 11%;
    width: 75%;
    gap: -10px;
    margin-bottom: 5%;
    cursor: pointer;

}
.slider-div{
    width: 100%;
}
.image{
    width: 75%;
    object-fit: contain;
    padding-left: 20%;
    height: 280px;
}
.map-div{
    justify-content: center;
    text-align: center;
    display: flex;
}
.icon{
   margin-left: 5%;
}
.arrow{
    height: 50px;
    width: 50px;
    margin-right: 4%;
    cursor: pointer;
    position: relative;
}
.arrow1{
    height: 50px;
    width: 50px;
    margin-left: 4%;
    cursor: pointer;
}
.slider-title{
    font-size: 20px;
    color: black;
}
.slider-title:hover{
    text-decoration: underline;
}
.map-div .bag{
    margin-left: 40%;
    margin-top: 3%;
}
@media only screen and (min-width: 0px) and (max-width: 420px) {

    .main-slider-div{
        display: flex;
        margin-left: 0%;
        width: 70%;
        gap: 0;
        margin-bottom: 5%;
        cursor: pointer;
        /* overflow-x: hidden; */
    }
    .image{
        /* width: 280px; */
        object-fit: contain;
        padding-left: 0%;
        height: 280px;
    }
}
@media only screen and (min-width: 421px) and (max-width: 720px) {

    .main-slider-div{
        display: flex;
        margin-left: 0%;
        width: 70%;
        gap: 0;
        margin-bottom: 5%;
        cursor: pointer;
        /* overflow-x: hidden; */
    
    }
    .image{
        /* width: 280px; */
        object-fit: contain;
        padding-left: 0%;
        height: 280px;
    }
}

